*::selection {
  /* when select some content then style */
  background-color: coral;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-top: 40px;
}

h1 {
  font-size: 40px;
}

.generator input {
  height: 34px;
  width: 255px;
  padding-left: 7px;
  font-size: 18px;
  border: solid 2px #0000003e;
}

.btn {
  position: relative;
  height: 39px;
  width: 100px;
  border: none;
  top: -1px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background: coral;
  box-shadow: 2px 2px 5px rgb(45, 44, 44);
}

.btn:active {
  box-shadow: none !important;
}

.extra {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.output-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}
